* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
}
body {
  background-color: rgba(65, 37, 103, 1);
}
.title-font {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.title-font span {
  background: linear-gradient(
    47.64deg,
    rgb(247, 233, 63),
    rgb(251, 9, 180),
    rgb(145, 0, 248)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 32px;
}
ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-btn {
  border-radius: 20px;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  border: none;
  padding: 12px 16px;
  /* transition: transform 0.5s ease; */
  cursor: pointer;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 4px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
}
.my-btn2 {
  color: rgba(0, 255, 136, 1);
  border: 1px solid rgba(0, 255, 136, 1);
  border-radius: 10000px;
  padding: 12px 16px;
  background: transparent;
  cursor: pointer;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
}

.banner {
  background-image: url("./assets/hero-bg.png");
  max-width: 1600;
  height: 760px;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  text-align: center;
}
.banner-text .title-font {
  margin-top: 20px;
}
.banner-text .banner-description {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.banner .center-image2 {
  margin-top: 135px;
}
.footer-part {
  background-image: url(./assets/footer-bg.png);
  padding: 120px;
  text-align: center;
  background-size: cover;
  background-position: center;
  margin-top: 120px;
}
.footer-part img {
  /* text-align: center; */
  justify-content: center;
  max-width: 400px;
}
.footer-icon ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  /* justify-content: center; */
  margin-top: 35px;
}
.footer-icon ul li {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
}
.copyright-text {
  color: rgba(250, 250, 250, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  margin-top: 35px;
}
/* Meet the host */

.host-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}
.meet-the-host .host-title h2 {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;

  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}
.host-info-title h3 {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;

  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}
.host-info-title p {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;

  font-size: 16px;
  font-weight: 400;
}
.social-icons {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.social-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid rgba(83, 60, 114, 1);
}

/* Feature Episode Section */
.episodes-section {
  /* background: #1a0b2e; */
  padding: 120px 20px;
  text-align: center;
}

.episodes-section h2 {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;

  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

.episodes-container {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}

.episode-card {
  border-radius: 24px;
  background: rgba(37, 13, 68, 1);
  overflow: hidden;
  width: 350px;
}

.video-container {
  width: 100%;
  height: 200px;
}

.video-container iframe {
  width: 100%;
  height: 100%;
}

.episode-info {
  padding: 20px;
  text-align: left;
}

.episode-info h3 {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;

  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.episode-info p {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;

  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
}

.duration {
  color: rgba(0, 255, 136, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
}
/* About The podcast */
.about-the-podcast {
  background-color: #190b2f;
}
.podcast-stat {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.podcast-stat > div {
  animation: float 2s ease-in-out infinite;
}
/* animation, with the hint of AI */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.podcast-stat p {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;

  font-size: 16px;
  font-weight: 400;
  margin-bottom: 120px;
}
.podcast-description h2 {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  text-align: center;
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 700;
}
.about-the-podcast {
  padding: 100px;
}

.podcast-description p {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 80px;
}
.podcast-description .another-class {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
