* {
  margin: 0;
  padding: 0;
}
header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
}
body {
  background-color: rgba(65, 37, 103, 1);
}
.title-font {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.title-font span {
  background: linear-gradient(
    47.64deg,
    rgb(247, 233, 63),
    rgb(251, 9, 180),
    rgb(145, 0, 248)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 32px;
}
ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-btn {
  border-radius: 20px;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  border: none;
  padding: 12px 16px;
  transition: transform 0.5s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
}
.my-btn:hover {
  transform: translateY(5px);
}
